@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.home {
  display: flex;
  width: 700px;
  height: calc(100vh - 100px);

  &-content {
  }

  &-header {
  }

  &-main {
    overflow: scroll;
  }
}
