@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.button {
  display: flex;
  position: relative;
  justify-content: center;
  gap: gutter();
  opacity: 1;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 4px solid $primary-color;
  background: linear-gradient(
    90deg,
    $primary-color,
    lighten($primary-color, 5%)
  );
  padding: gutter(6) gutter(4);
  width: 100%;
  text-transform: uppercase;
  @include typography(18px, $white, 800);

  &:active {
    transform: scale(1);
  }

  &:hover {
    opacity: 0.9;
    background: linear-gradient(
      90deg,
      lighten($primary-color, 5%) $primary-color
    );
  }
}
