@import '../../styles/variables.scss';

.message-list {
  display: flex;
  position: absolute;

  top: 2px;
  right: 0;
  bottom: 50px;
  left: 0;

  flex-direction: column-reverse;

  padding: 0 gutter(4);

  overflow: scroll;

  &-container {
    display: flex;
    position: relative;

    flex-direction: column;
    justify-content: flex-end;
    gap: gutter(4);

    padding-bottom: gutter(4);
  }
}
