@import '../../styles/variables.scss';

.message-list {
  display: flex;
  position: absolute;
  top: 2px;
  bottom: 50px;
  flex-direction: column-reverse;
  overflow: scroll;

  &-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    gap: gutter(4);

    padding-bottom: gutter(4);
  }
}
