@keyframes flyDiagonal {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  10% {
    transform: translate(100px, -100px) rotate(0deg) scale(0.9);
  }
  20% {
    transform: translate(200px, -200px) rotate(20deg) scale(0.8);
  }
  30% {
    transform: translate(300px, -300px) rotate(0deg) scale(0.7);
  }
  40% {
    transform: translate(400px, -400px) rotate(30deg) scale(0.6);
  }
  50% {
    transform: translate(500px, -500px) rotate(0deg) scale(0.5);
  }
  60% {
    transform: translate(600px, -600px) rotate(20deg) scale(0.4);
  }
  70% {
    transform: translate(700px, -700px) rotate(0deg) scale(0.3);
  }
  80% {
    transform: translate(800px, -800px) rotate(20deg) scale(0.2);
  }
  90% {
    transform: translate(900px, -900px) rotate(0deg) scale(0.1);
  }
  100% {
    transform: translate(1000px, -1000px) rotate(0deg) scale(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
