/**
 * Colors
 */
$black: #313639;
$jet-black: black;
$grey: #6e6e6e;
$light-grey: #b4b4b4;
$white: #fff;

$yellow: #ffcf40;
$orange: #f59c4d;
$gold: #d2c5a3;
$gold2: #583b1a;
$gold3: #9d763f;

$red: #862b1d;
$dark-brown: #3a2718;

// New
$blue: #b0cfff;
$light-blue: #c9dcf9;
$pink: #ffb0d9;
$light-pink: #f9c9e2;
$green: #6cdb9c;
$mustard: #ffc100;

/**
 * Theme
 */
$primary-color: $pink;
$secondary-color: $blue;
$tertiary-color: $mustard;
$text-color: $grey;
$background-default: $white;
$background-body: $secondary-color;
$icon-color-inactive: $secondary-color;
$icon-color-active: $primary-color;

/**
 * Borders
 */
$border-default: 1px solid $light-grey;
$border-darker: 1px solid $grey;

$border-radius-default: 4px;
$border-radius-large: 8px;

/**
 * Effects
 */
$text-shadow-default: 1px 1px 2px rgba(0, 0, 0, 0.2);
$box-shadow-default: 2px 2px 4px rgba(0, 0, 0, 0.3);
$box-shadow-vertical: 0px 2px 4px rgba(0, 0, 0, 0.3);

// Helper function to calculate the gutter
$gutter-base: 4px;
@function gutter($n: 1) {
  @return $n * $gutter-base;
}
