@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.contacts {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  box-shadow: $box-shadow-default;
  width: 200px;
  overflow: hidden;

  &-header {
    display: flex;
    align-items: center;
    gap: gutter(2);
    box-sizing: border-box;
    box-shadow: $box-shadow-vertical;
    background: $white;
    padding: gutter(1) gutter(2);
    height: 60px;
  }

  &-header-title {
    @include typography(18px, $black, 700, 'Mulish');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-header-status {
    @include typography(8px, $grey, 700);
    display: flex;
    align-items: center;
    gap: gutter();
    text-transform: uppercase;
  }

  &-header-status-circle {
    display: inline-block;
    border-radius: 50%;
    background: $green;
    width: 10px;
    height: 10px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    overflow: scroll;
    list-style: none;
  }

  &-list-item a {
    display: flex;
    align-items: center;
    gap: gutter(2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: gutter(2);
    color: $grey;
    text-decoration: none;
    @include typography(14px, $black, 600);
  }

  &-list-item a.is-active {
    background: $secondary-color;
    color: $white;
    font-weight: 700;
  }

  &-list-item-avatar {
    width: 40px;
    height: 40px;
  }
}
