@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.message {
  display: flex;
  align-items: center;
  gap: gutter();
  max-width: 80%;

  &-content {
    position: relative;
    border: 1px solid;
    border-radius: $border-radius-xl;
    padding: 0 gutter(6);
    text-align: left;
  }

  &-content-body {
    word-wrap: break-word;

    @include typography(14px, $black, 500);
  }

  &-content-time {
    position: absolute;
    right: gutter(5);
    bottom: gutter(0.5);

    @include typography(10px, $black, 500);
  }

  &--user {
    margin-left: auto;
    .message-content {
      border-color: darken($secondary-color, 5%);
      background: $secondary-color;
    }

    .like-button {
      opacity: 0;
      pointer-events: none;
    }

    .like-button--liked {
      opacity: 1;
    }
  }

  &--contact {
    margin-right: auto;
    .message-content {
      order: 1;
      border-color: darken($white, 10%);
      background: $white;
    }

    .like-button {
      order: 2;
    }
  }
}
